<div class="nav-side-menu">
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out active">
			<li ng-click="load('ALL');" data-toggle="collapse"
				data-target="#products" class="collapsed active"><a><i
					class="fa fa-gift fa-lg"></i> Pet Supplies<span class="arrow"></span></a></li>
			<div ng-include="'views/pets-list.html'" /> 
			<li data-toggle="collapse" data-target="#services"
				class="collapsed active"><a href><i
					class="fa fa-globe fa-lg"></i> My Account <span class="arrow"></span></a></li>
			<ul class="sub-menu collapse" id="services">
				<li><a href>Account details</a></li>
				<li><a href>Change password</a></li>
				<li><a href>Update account details</a></li>
				<li><a href>My Orders</a></li>
				<li><a href>MY-Wallet</a></li>
			</ul>


			<li data-toggle="collapse" data-target="#new"
				class="collapsed active"><a href><i class="fa fa-car fa-lg"></i>
					Recent search <span class="arrow"></span></a></li>
		</ul>
	</div>
</div>