<div class="nav-side-menu">
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out active">
			<li ng-click="load('CATS');" data-toggle="collapse"
				data-target="#{{products}}" class="collapsed active"><a><i
					class="fa fa-gift fa-lg"></i> Cats <span class="arrow"></span></a></li>
			<div ng-include="'views/pets-criteria.html'" />
			<li data-toggle="collapse" data-target="#services"
				class="collapsed active"><a href><i
					class="fa fa-globe fa-lg"></i> Dogs <span class="arrow"></span></a></li>
			<ul class="sub-menu collapse" id="services">
				<li><a href>ABYSSINIAN</a></li>
				<li><a href>AMERICAN BOBTAIL</a></li>
				<li><a href>AMERICAN CURL</a></li>
				<li><a href>BENGAL</a></li>
				<li><a href>HIMALAYAN</a></li>
			</ul>


			<li data-toggle="collapse" data-target="#new"
				class="collapsed active"><a href><i class="fa fa-car fa-lg"></i>
					New <span class="arrow"></span></a></li>
		</ul>
	</div>
</div>