<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="jumbotron">
  <div class="container">
<!--    <div ng-controller="TemplateController"> -->
<!--    	<div ng-include="slider"></div> -->
<!--    </div> -->
  </div>
</div>


<div class="container text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>

<div class="col-sm-9 text-left">
<div ng-repeat="i in [1,2,]">
	<div class="container">
		<div ng-repeat="i in [1,2,3,4]">
		    <div class="col-sm-2">
		      <div class="panel panel-primary">
		        <div class="panel-heading">BEST DEAL</div>
		        <div class="panel-body"><img ng-src="images/dog.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer"><input class="button" type="button" value="Add to cart"></div>
		      </div>
		    </div>
		</div>
	</div>
	</div>
</div>
    
<div class="col-sm-2 sidenav">
	<div class="well">
        <p>ADS</p>
    </div>
    <div class="well">
        <p>ADS</p>
    </div>
    </div>
  </div>
</div>

</body>
</html>

