<div id="products" class="sub-menu collapse">
	<ul>
		<a href onclick="load('BIRDS')">Birds</a>
		<ul ng-hide="true">
			<li><a href onclick="load('BIRDS_FOOD')">Food</a></li>
			<li><a href onclick="load('BIRDS_TOYS')">Toys</a></li>
			<li><a href onclick="load('BIRDS_CAGES')">Cages & Accessories</a></li>
			<li><a href onclick="load('BIRDS_MISC')">Miscellaneous</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('CATS')">Cats</a>
		<ul ng-hide="true">
			<li><a href onclick="load('CATS_FOOD')">Food</a></li>
			<li><a href onclick="load('CATS_TOYS')">Toys</a></li>
			<li><a href onclick="load('CATS_FEED')">Feeding & Watering</a></li>
			<li><a href onclick="load('CATS_GROM')">Grooming</a></li>
			<li><a href onclick="load('CATS_MISC')">Miscellaneous</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('DOGS')">Dogs</a>
		<ul ng-hide="true">
			<li><a href onclick="load('DOGS_FOOD')">Food</a></li>
			<li><a href onclick="load('DOGS_TOYS')">Toys</a></li>
			<li><a href onclick="load('DOGS_FEED')">Feeding & Watering</a></li>
			<li><a href onclick="load('DOGS_GROM')">Grooming</a></li>
			<li><a href onclick="load('DOGS_HEALTH')">Health supplies</a></li>
			<li><a href onclick="load('DOGS_BEDS')">Beds & Furniture</a></li>
			<li><a href onclick="load('DOGS_MISC')">Miscellaneous</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('COWS')">Cows</a>
		<ul ng-hide="true">
			<li><a href onclick="load('CATTLE_FOOD')">Food</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('GOATS')">Domestic goat</a>
		<ul ng-hide="true">
			<li><a href onclick="load('GOATS_FOOD')">Food</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('SHEEPS')">Sheeps</a>
		<ul ng-hide="true">
			<li><a href onclick="load('SHEEPS_FOOD')">Food</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('CHICKENS')">Chickens</a>
		<ul ng-hide="true">
			<li><a href onclick="load('CHICKENS_FOOD')">Food</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('CHICKENS')">Chickens</a>
		<ul ng-hide="true">
			<li><a href onclick="load('CHICKENS_FOOD')">Food</a></li>
		</ul>
	</ul>
	<ul>
		<a href onclick="load('OTHER_ANIMALS')">Other Animals</a>
		<ul ng-hide="true">
			<li><a href onclick="load('OTHER_ANIMALS_FOOD')">Food</a></li>
		</ul>
	</ul>
</div>
